.container.small {
    width: 580px;
}

.modal-body {
    min-height: 430px;
}

.problem .description {
    margin-bottom: 25px;
}

#map .thing {
    padding: 5px;
    text-align: center;
    margin: 5px;
    display: inline-block;
}

#map .position {
    background-color: #eee;
    border: 1px solid #ddd;
}

#map .team {
    background-color: #FFF8AC;
    border: 1px solid #D4C83D;
}

#map .stage.locked {
    background-color: #FFA0A0;
    border: 1px solid #B45858;
}

#map .stage.unlocked {
    background-color: #B0EC99;
    border: 1px solid #73AF5B;
}

#map .stage.unlocked:hover {
    cursor: pointer;
}

#leaderboard {
    width: 100%;
}

#leaderboard td, #leaderboard th  {
    text-align: center;
    padding: 10px 5px;
}

#leaderboard td.name, #leaderboard th.name {
    text-align: left;
}

#leaderboard td.correct, #leaderboard th.correct {
    background-color: #E9F8DA;
}

#leaderboard td.wrong, #leaderboard th.wrong {
    background-color: #F7DADA;
}

#leaderboard td.total-points, #leaderboard th.total-points {
    background-color: #DAF4F7;
    font-weight: bold;
}