{% extends "base.html" %}

{% block content %}
<div class="container small">
  <div class="page-header">
    <h1>Leaderboard</h1>
  </div>
    <table id="leaderboard">
      <tr>
        <th class="name">Name</th>
        <th>Attempts</th>
        <th>Not Tried</th>
        <th class="correct">Correct</th>
        <th class="wrong">Wrong</th>
        <th class="total-points">Total points</th>
      </tr>
    {% for name, total_attempts, not_tried, wrong, correct, skipped, points in board %}
      <tr>
          <td class="name">{{ name }}</td>
          <td>{{ total_attempts }}</td>
          <td>{{ not_tried }}</td>
          <td class="correct">{{ correct }}</td>
          <td class="wrong">{{ wrong }}</td>
          <td class="total-points">{{ points }}</td>
      </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}