<div class="exercise">
  <div class="page-header">
    <h1>#{{problem.order}}</h1>
  </div>
  <h2>{{problem.name}}</h2>
  <div class="description">
    {{problem.description|safe}}
  </div>
  <div class="io">
    <h3>Είσοδος/'Εξοδος - Input/Output</h3>
    {{problem.io_description|safe}}
    <div class="row">
      <div class="col-md-3 in">
        <h4>Sample input</h4>
        <pre>{{problem.sample_in|safe}}</pre>
      </div>
      <div class="col-md-3 out">
        <h4>Sample output</h4>
        <pre>{{problem.sample_out|safe}}</pre>
      </div>
    </div>
  </div>
</div>